.input-number {
    width: 100%;
    height: 100%;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    padding: 14px;
    font-size: 14px;
    font-weight: 400;
    color: #000;
    background-color: #fff;
    margin-bottom: 10px;

}

.card-custom {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    padding: 10px;
    margin: 0 auto;
    max-width: 400px;
    margin-top: 100px;
    margin-bottom: 100px;

    .title {
        text-align: center;
        font-size: 20px;
        font-weight: 600;
        margin-bottom: 20px;
        text-transform: uppercase;
    }

    .card-body {
        padding: 10px;
    }

    .card-footer {
        padding: 10px;
    }

    .card-header {
        padding: 10px;
    }

    .card-title {
        text-align: center;
        font-size: 20px;
        font-weight: 600;
        margin-bottom: 20px;
        text-transform: uppercase;
    }

    .card-text {
        text-align: center;
        font-size: 20px;
        font-weight: 600;
        margin-bottom: 20px;
        text-transform: uppercase;
    }

    .card-img-top {
        width: 100%;
        height: 200px;
        object-fit: cover;
    }

    .card-img-bottom {
        width: 100%;
        height: 200px;
        object-fit: cover;
    }

    .card-img {
        width: 100%;
        height: 200px;
        object-fit: cover;
    }

    .card-link {
        text-align: center;
        font-size: 20px;
        font-weight: 600;
        margin-bottom: 20px;
        text-transform: uppercase;
    }

    .card-subtitle {
        text-align: center;
        font-size: 20px;
        font-weight: 600;
        margin-bottom: 20px;
        text-transform: uppercase;
    }

    .card-text {
        text-align: center;
        font-size: 20px;
        font-weight: 600;
        margin-bottom: 20px;
        text-transform: uppercase;
    }

    .card-text {
        text-align: center;
        font-size: 20px;
        font-weight: 600;
        margin-bottom: 20px;
        text-transform: uppercase;
    }

}

.name {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 20px;
    text-align: center;
    margin-top: 20px;
}

button#html5-qrcode-button-camera-permission {
    background: black;
    border: none;
    color: white;
    padding: 15px;
    border-radius: 10px;
}